.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  height: 1.2em;
  width: 100%;
}

.texto {
  margin: 0;
  width: 100%;
  height: 1.2em;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: Parkinsans;
  font-weight: 700;
  font-size: 1em;
}

.opaque {
  opacity: 0;
}

.brilho {
    color: #00ff55;
    animation:
    brilhoverde 1s forwards; 
}

.glitch-cima {
    clip-path:polygon(0 0, 100% 0, 100% 32%, 0 32%);
    animation:
    cor 1s forwards,
    move1 1s forwards,
    shadow3 1s forwards;
}

.glitch-meio {
    clip-path:polygon(0 32%, 100% 32%, 100% 65%, 0 65%);
    animation:
    cor 1s forwards 0.9s,
    move2 1s forwards 0.5s,
    shadow2 1s forwards;
}

.glitch-baixo {
    clip-path:polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    animation:
    cor 1s forwards 0.6s,
    move2 1s forwards,
    ruid 1s forwards,
    shadow1 1s forwards;
}

/* #4e12d1; */

@keyframes brilhoverde {
  0%, 79% {opacity: 0%;}
  85% {opacity: 100%;}
  0%, 35% {text-shadow: 0 0 0.3em #00ff5500;}
  0%, 45%, 100% {text-shadow: 0 0 0.3em #00ff5544;}
}

@keyframes shadow1 {
0% {text-shadow: 0 0 0 #ff0055;}
10%, 15% {text-shadow: -1em 0 0 #ff0055;}
18%, 40% {text-shadow: 1em 0 0 #ff0055;}
45% {text-shadow: 0 0 0 #00ff55;}
}

@keyframes shadow2 {
0%, 10% {text-shadow: 0 0 0 #4e12d1; }
15%, 25% {text-shadow: -1.5em 0 0 #4e12d1; }
26%, 48% {text-shadow: 1em 0 0 #4e12d1; }
53% {text-shadow: 0 0 0 #00ff55; }
}

@keyframes shadow3 {
0%, 15% {text-shadow: 1em 0 0 #4e12d1; }
19%, 32% {text-shadow: -1em 0 0 #00ff55; }
40% {text-shadow: 0 0 0 #00ff55; }
}

@keyframes move1 {
  8%, 16% {transform: translateX(0.15em);}
  19%, 35% {transform: translateX(-0.15em);}
  45%, 100% {transform: translateX(0);}
}

@keyframes move2 {
  10%, 15% {transform: translateX(-0.15em);}
  25%, 35% {transform: translateX(0.15em);}
  45%, 100% {transform: translateX(0);}
}

@keyframes cor {
  30% {color: rgb(255, 255, 255);}
  33%, 100% {color: #00ff55;}
}

/*
@keyframes ruido {
  0%, 1%, 26%, 49%, 63%, 100% {mask-image: none;}
  2%, 25%, 50%, 62% {mask-image: url('textura5.svg');}
} */

@keyframes ruido {
    0%, 45%, 66%, 100% {
    -webkit-mask-image: none;
    mask-image: none; }

    46%, 65% {
    -webkit-mask-image: url('/public/svg/texturas/textura6.svg');
    mask-image: url('/public/svg/texturas/textura6.svg'); }
} 