.raio {
  fill: rgb(255, 255, 255);
  filter: blur(0.9px);
  position: absolute;
  scale: 0.8;
}

.raioglow {
  position: absolute;
  fill: rgb(255, 174, 0);
  scale: 1.4;
  filter: blur(5px);
  animation: piscando 0.05s infinite steps(2, jump-end);
}

.raioborda {
  fill: rgb(255, 238, 0);
  filter: blur(1.1px);
  position: absolute;
}

.pulsing {
  animation: piscando 0.05s infinite steps(2, jump-end), shrinkAndGrow2 1s infinite;
}

@keyframes shrinkAndGrow2 {
  0% {
    transform: scale(1.2);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(-1.2);
    animation-timing-function: ease-in-out;
  }
}

@keyframes piscando {
  0% {
    opacity: 65%;
  }
  50% {
    opacity: 50%;
  }
}
