
:root {
  --base-duration: 1s; /* Define the base duration */
}

.brilho {
  animation:
  brilhoV01 var(--base-duration) forwards;
}

.brilho-v2 {
  animation:
  brilhoV015 var(--base-duration) forwards;
}

.glitch-cima {
  clip-path: polygon(0 0, 100% 0, 100% 32%, 0 32%);
  animation:
      corV01 var(--base-duration) forwards,
      moveV01 var(--base-duration) forwards,
      shadowV03 var(--base-duration) forwards; 
}

.glitch-cima-v2 {
  clip-path: polygon(0 0, 100% 0, 100% 32%, 0 32%);
  animation:
      corV015 var(--base-duration) forwards,
      moveV01 var(--base-duration) forwards,
      shadowV035 var(--base-duration) forwards;
}

.glitch-meio {
  clip-path: polygon(0 32%, 100% 32%, 100% 65%, 0 65%);
  animation:
      corV01 var(--base-duration) forwards calc(var(--base-duration) * 0.9),
      moveV02 var(--base-duration) forwards calc(var(--base-duration) * 0.5),
      shadowV02 var(--base-duration) forwards;
}

.glitch-meio-v2 {
  clip-path: polygon(0 32%, 100% 32%, 100% 65%, 0 65%);
  animation:
      corV015 var(--base-duration) forwards calc(var(--base-duration) * 0.9),
      moveV02 var(--base-duration) forwards calc(var(--base-duration) * 0.5),
      shadowV025 var(--base-duration) forwards;
}

.glitch-baixo {
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  animation:
      corV01 var(--base-duration) forwards calc(var(--base-duration) * 0.6),
      moveV02 var(--base-duration) forwards,
      ruidoV01 var(--base-duration) forwards,
      shadowV01 var(--base-duration) forwards;
}

.glitch-baixo-v2 {
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  animation:
      corV015 var(--base-duration) forwards calc(var(--base-duration) * 0.6),
      moveV02 var(--base-duration) forwards,
      ruidoV01 var(--base-duration) forwards,
      shadowV015 var(--base-duration) forwards;
}


.glitch-cima-version-1-0 {
  clip-path:polygon(0 0, 100% 0, 100% 50%, 0 50%);
  animation:
  cor-version-1-0 var(--base-duration) forwards,
  move-version-1-0 var(--base-duration) forwards,
  shadow-version-1-0 var(--base-duration) forwards;
}

.glitch-baixo-version-1-0 {
  clip-path:polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  animation:
  cor-version-1-0 var(--base-duration) forwards,
  move-version-2-0 var(--base-duration) forwards,
  shadow-version-1-0 var(--base-duration) forwards;
}

.text-shadow-glow {
  text-shadow:
  0 0 0px #ff8000d6,
  0 0 0px #ffe4169e;
}

.text-shadow-glow2 {
  border-color: rgb(65, 255, 55);
  color: rgb(65, 255, 55);
  filter: blur(2px);
  text-shadow:
  0 0 70px rgb(65, 255, 55),
  0 0 70px rgb(65, 255, 55);
  animation: surgindo 3s forwards;
}

.glow {
  text-shadow:
  0 0 80px #fff156;
  animation: pulse-brilho 1s infinite;
}