.heart {
  fill: rgb(255, 0, 98);
  filter: blur(2px);
  position: absolute;
  translate: 0px 0.8px;
}

.heartshine {
  mix-blend-mode: screen;
  position: absolute;
  scale: 0.8;
  fill: rgb(233 251 200);
  filter: blur(1.7px);
  translate: 0px 1px;
}

.heartglow {
  position: absolute;
  fill: rgb(244 59 149);
  scale: 1.1;
  filter: blur(8px);
  translate: 0px 0px;
  animation: piscando 0.01s infinite;
}

@keyframes piscando {
  0%,
  9%,
  20%,
  29%,
  40%,
  49%,
  60%,
  69%,
  80%,
  89%,
  100% {
    opacity: 50%;
  }
  10%,
  19%,
  30%,
  39%,
  50%,
  59%,
  70%,
  79%,
  90%,
  99% {
    opacity: 35%;
  }
}
